<!doctype html>
<html>
  <head>
    <title>About <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteName%></h1>
    <p>Doudi</p>
  </body>
</html>