<!doctype html>
<html>
  <head>
    <title>User details</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=siteName%></h1>
    <%if (users.length > 0) { %>
        <h2>Articles written by <%= users[0].username %></h2>
        <table>
            <tr><th>Title</th></tr>
            <% users.forEach(function(article) { %>
              <tr>
                <form action="/clickedarticle" method="GET">
                  <td><input type="submit" name="keyword" value="<%= article.article_title %>""></input></td>
                </form>
              </tr>
            <% }) %>    
      </table>  
        <% } else{ %>  
            <h3>User has not written any articles</h3>
         <% } %>
  </body>
</html>